article {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

article > h3 > a{
    line-height: 1;
    color: rgb(35, 35, 199);
}


.aritcle-section {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.aritcle-section > img {
    width: 65%;
}

.aritcle-section > p {
    font-size: 15px;
    margin-left: 10px;
}
hr {
    border: 0.5px solid #e5e5e5;
}