.banner {
    padding-top: 5px;
    font-family: "Merriweather",serif;
    width: 100%;
    height: 350px;
    display: flex;
}
.left {
    position: relative;
    width: 70%;
    height: 100%;
    display: flex;
    padding-right: 5px;
    transition: 1s;
}
.article-hot {
    display: flex;
    width: 100%;
    height: 100%;
}
.right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: rgb(190, 190, 190);
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: rgb(190, 190, 190);
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }

.background {
    padding: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;
    height: 100%;
}

.name {
    background-color: #f7f7f7;
    text-align:inherit;
    padding: 15px;
    width: 40%;
}

.title {
    font-size: 20px;
    line-height: 160%;
    font-weight: 700;
}

.title > a {
    text-decoration: none;
    line-height: 0;
    color: #222;
}

.desc {
    padding-top: 15%;
    font-size: 15px;
    line-height: 160%;
}

.right {
    background-color: #fff;
    width: 30%;
    height: 100%;
}

.weather {
    width: 100%;
    background-color: chartreuse;
    height: 50%;
    display: block;
}

.something {
    width: 100%;
    background-color: gold;
    height: 50%;
    display: block;
}

